[defaults]
inventory = ./inventory.yml
stdout_callback = unity.general.status_oneline
callbacks_enabled = unity.general.status_oneline
collections_path = ./collections/:./.venv/lib/python3.12/site-packages
vault_password_file = secrets.pass
pipelining = true
remote_user = root

[diff]
always = True
formatter = delta --syntax-theme='Visual Studio Dark+' --color-only --max-line-length=0 --paging=never
