[Unit]
Description=node_exporter
After=network.target

[Service]
Type=simple
User=node_exporter
Group=node_exporter
ExecStart=/usr/local/bin/node_exporter --collector.systemd
Restart=on-failure
ProtectHome=true
ProtectSystem=full
PrivateDevices=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
