[Unit]
Description=grafana

[Container]
ContainerName=grafana
Image=docker.io/grafana/grafana:13.1.3
{% for _uidmap in uidmap %}
UIDMap={{ _uidmap }}
{% endfor %}
{% for _gidmap in gidmap %}
GIDMap={{ _gidmap }}
{% endfor %}
PublishPort=3000:3000
Volume=/etc/grafana:/etc/grafana
Volume=/var/lib/grafana:/var/lib/grafana
Volume=/var/log/grafana:/var/log/grafana
User=0
Group=0
