[Unit]
Description=hello world 2

[Container]
ContainerName=hello
Image=hello
{% for _uidmap in uidmap %}
UIDMap={{ _uidmap }}
{% endfor %}
{% for _gidmap in gidmap %}
GIDMap={{ _gidmap }}
{% endfor %}
