[Unit]
Description=hookshot matrix integrations

[Container]
ContainerName=hookshot
Image=docker.io/halfshot/matrix-hookshot:latest
PublishPort=9000:9000
UIDMap={{ uidmap }}
GIDMap={{ gidmap }}

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
