[Unit]
Description=hookshot matrix integrations

[Container]
ContainerName=matrix-hookshot
Image=ghcr.io/matrix-org/matrix-hookshot:7.4.4
# needs to be able to reach 127.0.0.1:8008 and also publish port 9000 and maybe publish others as well
Network=host
{% for _uidmap in uidmap %}
UIDMap={{ _uidmap }}
{% endfor %}
{% for _gidmap in gidmap %}
GIDMap={{ _gidmap }}
{% endfor %}
Volume=/etc/matrix-hookshot:/data

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
