bridge:
  domain: {{ domain }}
  url: http://localhost:8008
  port: 9993
  bindAddress: 127.0.0.1
logging:
  level: info # debug,info,warn,error
  colorize: true
  json: false
  timestampFormat: HH:mm:ss:SSS
passFile: /data/passkey.pem
listeners:
  - port: 9000
    bindAddress: 0.0.0.0
    resources:
      - webhooks
  - port: 9001
    bindAddress: 127.0.0.1
    resources:
      - metrics
#  - port: 9002
#    bindAddress: 0.0.0.0
#    resources:
#      - widgets
generic:
  enabled: true
  outbound: false
  urlPrefix: http://{{ domain }}:9000/webhook/
  userIdPrefix: _webhooks_
  allowJsTransformationFunctions: true
  waitForComplete: false
  enableHttpGet: false
  sendExpiryNotice: false
  requireExpiryTime: false
  maxExpiryTime: 30d
  includeHookBody: true
  payloadSizeLimit:
    # (Optional) How large may an incoming payload be. Specify in bytes or in a format like '1mb', '500kb', '10mb', etc.
    1mb
permissions:
  - actor: "@simon:{{ domain }}"
    services:
      - service: "*"
        level: admin
