id: matrix-hookshot # This can be anything, but must be unique within your homeserver
as_token: "{{ hookshot_as_token }}" # this can be used for HTTP bearer auth
hs_token: "{{ hookshot_hs_token }}"
namespaces:
  rooms: []
  users:
    - regex: "@_github_.*:{{ domain }}"
      exclusive: true
    - regex: "@_gitlab_.*:{{ domain }}"
      exclusive: true
    - regex: "@_jira_.*:{{ domain }}"
      exclusive: true
    - regex: "@_webhooks_.*:{{ domain }}" # Where _webhooks_ is set by userIdPrefix in config.yml
      exclusive: true
    - regex: "@feeds:{{ domain }}" # Matches the localpart of all serviceBots in config.yml
      exclusive: true
  aliases:
    - regex: "#github_.+:{{ domain }}"
      exclusive: true

sender_localpart: hookshot
url: "http://localhost:9993" # This should match the bridge.port in your config file
rate_limited: false

receive_ephemeral: true
