[Unit]
Description=prometheus
RequiresMountsFor=/mnt/bunker-synology-simon/homelab

[Container]
ContainerName=prometheus
Image=ghcr.io/prometheus/prometheus-linux-amd64:v3.14.0
{% for _uidmap in uidmap %}
UIDMap={{ _uidmap }}
{% endfor %}
{% for _gidmap in gidmap %}
GIDMap={{ _gidmap }}
{% endfor %}
# needs to connect to localhost:9100
Network=host
Volume=/etc/prometheus:/etc/prometheus
Volume=/mnt/bunker-synology-simon/homelab/prometheus:/prometheus
User=0
Group=0

[Install]
WantedBy=default.target
