[Unit]
Description=prometheus-podman-exporter

[Container]
ContainerName=prometheus-podman-exporter
Image=quay.io/navidys/prometheus-podman-exporter
{% for _uidmap in uidmap %}
UIDMap={{ _uidmap }}
{% endfor %}
{% for _gidmap in gidmap %}
GIDMap={{ _gidmap }}
{% endfor %}
PublishPort=9882:9882
Volume=/run/podman/podman.sock:/run/podman/podman.sock
Environment=CONTAINER_HOST=unix:///run/podman/podman.sock
SecurityLabelType=container_runtime_t
User=0
Group=0

[Install]
WantedBy=default.target
